{% extends 'index.html' %}
{% block content %}
<div class="page__getAudio getAudio">
    <form action="/getAudio" class="getAudio__form form-getAudio" method="post">
        <input type="url" class="form-getAudio__input" name="url" placeholder="URL YouTube Video"></input>
        <button class="form-getAudio__button button_main" type="submit">Extract Audio</button>
    </form>
    {% if get_flashed_messages!= 0 %}
    {% for category, message in get_flashed_messages(True) %}
        <p class="page__flash {{ category }}">{{message}}</p>
    {% endfor %}
    {% endif %}
    {% if audioPath !=0 %}
    <div class="getAudio__file file">
        <div class="file__play"></div>
        <audio controls src="../BookManagementSystem/downloadedVideo/AUDIO_2.mp3">
            Your browser does not support the audio element.
        </audio>

        <div class="file__download download-file">
            <a href="{{ audioPath }}" class="download-file__link">Download Audio</a>
        </div>
    </div>
     {% endif %}
</div>


{% endblock %}