@import url('style0.css');

[class*="__container"] {
    max-width: 1140px;  /*1110 + 15 15 padding from left right*/
    margin: 0 auto;
    padding: 0px 15px;
}

body{
   /* font-family: Poppins;
    font-weight: 300;*/
    color: #000;
    background: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip; /*краще за hidden бо дозволяє працювати з sticky*/
}

.page{
    flex: 1 1 auto;
}

/*flashes*/
.flash{
    display:flex;
    justify-content:center;
    gap: 40px;
    padding: 15px;
    text-align:center;
    font-size:16px;
}
.success{
    background:#C3FFC1;
}
.error{
    background:#FFDDDD;
}
.close {
    background: transparent;
}
.flash__text{
}

/**/

.header {
}
.header__container {
}
.header__body {
    display: flex;
    flex-direction: column;
}
.header__logo {
    align-self: center;
    padding: 30px 0px;
    font-size: 32px;
}
.header__menu {

    padding: 20px 0px;
    color: #000;
}
.menu {
    
}
.menu__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu__list {
    display: flex;
    justify-content: start;
    gap: 20px;
    font-size: 24px;
}
.menu__item {
}
.menu__link {
}

/*FOOTER*/
.footer {
    background:#F2F2F2;
}
.footer__container {
}
.footer__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0px;
}
.footer__content {
    display: flex;
    flex-direction: column;
}
.content-footer {
}
.content-footer__title {
    font-size: 24px;
    padding: 15px 0px;
}
.content-footer__text {
    max-width: 400px;
    line-height: 1.4;
}
.footer__menu {
}
.menu-footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.menu-footer__item {
    display: flex;
    flex-direction: column;
}
.menu-footer__title {
    font-weight: 500;
    font-size: 18px;
}
.menu-footer__list {
    color: #BDC5CC;
    padding: 15px 0 0 0 ;
    display:flex;
    flex-direction:column;
    gap: 15px;

}
.list-menu-footer {
}
.list-menu-footer__item {
}
.menu-footer__social {
}
.social-menu-footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 0 0 0 ;
}
.social-menu-footer__item img:hover{
}

.social-menu-footer__item {
}
.footer__copy {
    border-top:1px solid #BDC5CC;
    padding: 20px;
    text-align: center;
}
/*FOOTER*/

.page {
    margin: 0px 0px;
}

/*all recipes on*/
.page__cards{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 50px;
    row-gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}
.page__card{
    width: 305px;
    height: 315px;
    display:flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px 0px rgba(12, 26, 75, 0.24);
    padding: 10px;
}
.drafts {
    opacity: 0.3;
    border: 1px dashed;
}
.card__image{
    width: 289px;
    height: 200px;
    overflow:hidden;
    border-radius: 16px;
}
.card__image img{
    max-width:100%;
    max-height:100%;
    width: 289px;
    height: 200px;
    justify-content: center;
    align-items: center;
    object-fit: cover; /* Розміщення та збереження пропорцій зображення */
    object-position: center;
    }

.body-card{
    display: flex;
    justify-content: space-between;
    gap:50px;
    padding: 0px 10px ;
}
.body-card__text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    }
.body-card__title{
    color: #252525;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.body-card__link{}
.body-card__time{
    color: #DC582A;
    font-size: 20px;
    font-weight: 600;
    line-height: 136.523%;
}

.body-card__icons{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.body-card__rating{
    color: #ADADAD;
    font-size: 12px;
    font-weight: 500;
}
.body-card__rating:before{
    content: "";
    width: 16px;
    height: 16px;
    background: url('static/images/all_recipe/star.svg')
}
.body-card__buttons{
    display: flex;
    flex-direction: row;
    gap: 15px;

}
.body-card__like{
    background: #fff;}

.body-card__comment{
    background: #fff;}

/*all recipes OFF*/