@import url('style0.css');

[class*="__container"] {
    max-width: 1140px;  /*1110 + 15 15 padding from left right*/
    margin: 0 auto;
    padding: 0px 15px;
}

body{
   /* font-family: Poppins;
    font-weight: 300;*/
    color: #000;
    background: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip; /*краще за hidden бо дозволяє працювати з sticky*/
}

.page{
    flex: 1 1 auto;
}

/*flashes*/
.flash{
    display:flex;
    justify-content:center;
    gap: 40px;
    padding: 15px;
    text-align:center;
    font-size:16px;
}
.success{
    background:#C3FFC1;
}
.error{
    background:#FFDDDD;
}
.close {
    background: transparent;
}
.flash__text{
}

/**/

.header {
}
.header__container {
}
.header__body {
    display: flex;
    flex-direction: column;
}
.header__logo {
    align-self: center;
    padding: 30px 0px;
    font-size: 32px;
}
.header__menu {

    padding: 20px 0px;
    color: #000;
}
.menu {
    
}
.menu__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu__list {
    display: flex;
    justify-content: start;
    gap: 20px;
    font-size: 24px;
}
.menu__item {
}
.menu__link {
}

/*FOOTER*/
.footer {
    background:#F2F2F2;
}
.footer__container {
}
.footer__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0px;
}
.footer__content {
    display: flex;
    flex-direction: column;
}
.content-footer {
}
.content-footer__title {
    font-size: 24px;
    padding: 15px 0px;
}
.content-footer__text {
    max-width: 400px;
    line-height: 1.4;
}
.footer__menu {
}
.menu-footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.menu-footer__item {
    display: flex;
    flex-direction: column;
}
.menu-footer__title {
    font-weight: 500;
    font-size: 18px;
}
.menu-footer__list {
    color: #BDC5CC;
    padding: 15px 0 0 0 ;
    display:flex;
    flex-direction:column;
    gap: 15px;

}
.list-menu-footer {
}
.list-menu-footer__item {
}
.menu-footer__social {
}
.social-menu-footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 0 0 0 ;
}
.social-menu-footer__item img:hover{
}

.social-menu-footer__item {
}
.footer__copy {
    border-top:1px solid #BDC5CC;
    padding: 20px;
    text-align: center;
}
/*FOOTER*/

.page {
    margin: 0px 0px;
}

/*FORM STYLES on*/

/*FORM STYLES OFF*/