{% extends 'index.html' %}
{% block content %}
<div class="page__table table">
                <div class="table__title">
                    <p>Books</p>
                </div>
                <div class="table__body">
                    <table>
                        <tr>
                            <th class="table__colname">№</th>
                            <th class="table__colname">user</th>
                            <th class="table__colname">book name</th>
                            <th class="table__colname">book author</th>
                            <th class="table__colname">book pages</th>
                            <th class="table__colname">book type</th>
                            <th class="table__colname">save date</th>
                        </tr>
                            {% for book in booksDB %}
                            <tr class="table__row">
                            {% for item in book %}
                            <td class="table__column">{{ item }}</td>
                            {% endfor %}
                        </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>
{% endblock %}
