{% extends "index.html" %}
{% block content %}

    <div class="page__form form">
                <form class="form" method="post" action="/bms">
                    <div class="form__input">
                        <input type="text" class="name" name="name" placeholder="name">
                    </div>
                    <div class="form__input">
                        <input type="text" class="author" name="author" placeholder="author">
                    </div>
                    <div class="form__input">
                        <input type="text" class="pages" name="pages" placeholder="pages">
                    </div>
                    <div class="form__radio radio-form">
                        <div class="radio-form__radiobutton radiobutton">
                            <input class="radiobutton__check" type="radio" id="radio1" name="type" value="paper book" autocomplete="on">
                            <label for="radio1">Paper Book</label>
                        </div>
                        <div class="radio-form__line"></div>
                        <div class="radio-form__radiobutton radiobutton">
                            <input class="radiobutton__check" type="radio" id="radio2" name="type" value="e book" checked autocomplete="on">
                            <label for="radio2">E Book</label>
                        </div>
                    </div>
                    <div class="form__buttons buttons">
                        <a href="/bms/allbooks" class="buttons__allbooks button" ><span>all books</span></a>
                        <button class="buttons__save button_main" type="submit" value="save">save</button>
                    </div>
                </form>
        {% if get_flashed_messages!= 0 %}
        {% for category, message in get_flashed_messages(True) %}
        <p class="page__flash {{category}}">{{message}}</p>
        {% endfor %}
        {% endif %}
            </div>
{% endblock %}
