{% extends 'index.html' %}
{% block content %}
<div class="page__getLocation getlocation">
    <form action="/getLocationByIP" class="getlocation__form form-getlocation" method="post">
        <input type="text" class="form-getlocation__input" name="ipp" placeholder="Ip"></input>
        <button class="form-getlocation__button button_main" type="submit">Get info</button>
    </form>
    {% if get_flashed_messages!= 0 %}
    {% for category, message in get_flashed_messages(True) %}
        <p class="page__flash {{ category }}">{{message}}</p>
    {% endfor %}
    {% endif %}

    {% if data != 0 and data != None %}
    <div class="getlocation__data">
        <div class="getlocation__info info">
            <div class="info__ip">IP: {{data['IP']}}</div>
            <ul class="info__items">
                {% for key, value in data.items() %}
                {% if key != "IP" %}
                <li class="info__item item-info">
                    <div class="item-info__name">
                        {{ key }}
                    </div>
                    <div class="item-info__value">
                        {{ value }}
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="getlocation__map">
            <a class="button" href="/getLocationByIP/location" target="_blank"  >MAP</a>
        </div>
    </div>
</div>
{% endblock %}