<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Managment System</title>
    <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/newStyle.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="header__block">
                <a class="header__item" href="/bms">
                    Book Managment System
                </a>
                <a class="header__item" href="/getAudio">
                    Get Audio by link
                </a>
                <a class="header__item" href="/getLocationByIP">
                    Find location by ip
                </a>
            </div>
        </div>
        <main class="page">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="footer">
            <p class="footer__text">Petrovych</p>
        </footer>
    </div>


</body>
</html>