{% extends 'base.html' %}

{% block content %}

<div class="page__card card drafts">
  <div class="card__image">
    <img src="{{ url_for('static', filename='images/new_recipe/default.jpg') }}" alt="recipe">
  </div>
  <div class="card__body body-card">
    <div class="body-card__text">
      <div class="body-card__title">
        <a href="" class="body-card__link">Name</a>
      </div>
      <div class="body-card__time">20 min</div>
    </div>
    <div class="body-card__icons">
      <div class="body-card__rating"></div>
      <div class="body-card__buttons">
        <button class="body-card__like">
          <img src="{{ url_for('static', filename='images/all_recipe/like.svg') }}" alt="">
        </button>
        <button class="body-card__comment">
          <img src="{{ url_for('static', filename='images/all_recipe/comments.svg') }}" alt="">
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
