
/*Skip defoult styles*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/



/*template */
.button{
	width: 180px;
	height: 65px;
	padding:10px;
	background: #53616D;
	border-radius: 8px;
	color: #fff;
	font-size: 24px;
	line-height: 1.45; /* 35/24 */
	text-transform: uppercase;
}

.button:hover{
	border: 2px solid #fff;
}
.button_main{
    width: 180px;
	height: 65px;
	padding: 10px;
	color: #fff;
	font-size: 24px;
	line-height: 1.45; /* 35/24 */
	text-transform: uppercase;
    background: #67A4D9;
	border-radius: 42px;
}

.button_main:hover{
	background: #2B689D;
}
.page__flash{
    text-align:center;
    margin-top:10px;
    font-size:24px;
    color: white
}
.success {
 color: white;
}

.error {
 color: red;
}
.page__notFound{
    margin: auto auto;
}
.notFound-page__text{
    margin: auto auto;
    padding:50px;
    font-size: 64px;
    }
.notFound-page__link{
    padding:50px;
    font-size: 64px;
    text-decoration: underline;
    color: #67A4D9;
}
/*template*/

body{
	font-family: 'Finger Paint';
	font-size: 16px;
	font-weight: 400;
}

.wrapper {
display: flex;
flex-direction: column;
min-height: 100%;
overflow: hidden;
background: #BDC5CC;
}

.header {

}
.header__block {
display:flex;
justify-content: space-between;
padding: 20px 30px;
background: rgba(37, 54, 68, 0.7);
}
.header__item {
	font-family: 'Finger Paint';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 4px 5px #1E1E1E;
	color: #FFFFFF;
}
.header__item:hover {
	color: #67A4D9;
}



.page {
flex: 1 1 auto;
}
.page__form{
   margin-top: 50px;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

input {
	font-size: 20px;
	line-height: 1.2; /* 24/20 */
	padding: 16px 10px;
	width: 300px;
	height: 56px;
	border-radius: 16px;
}
input::placeholder{
	font-family: 'Finger Paint';
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2; /* 24/20 */
	color: #C3C3C3;
}
input:focus {
	border-color: #67A4D9;
	box-shadow: 0px 1px 14px #457baa;
}
.form__radio {
	display: flex;
	justify-content: space-around;
	min-width: 300px;
	align-items: center;
	text-transform: lowercase;
	background: #F5F5F5;
	border-radius: 16px;
	padding: 14px 10px ;
}
.radiobutton{
	flex: 0 0 40%;
	text-align: center;
	position: relative;
	color: #C3C3C3;
}
input[type="radio"]:checked+label{
	color: #5F5F5F;
} 

.radiobutton__check {
	display: none;
}
.radio-form__line {
	flex: 0 0 1.3%;
	width: 1px;
	height: 30px;
	background: #5F5F5F;
}
.radiobutton__2 {
}
.form__buttons {
}
.buttons {
	top: 20px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
	align-content:center;
}

.buttons__allbooks {;
    display: flex;
    align-items:center;
    justify-content:center;
}


.buttons__save {
}

.page__table {
}
.table {
	margin-bottom:80px;
}
.table__title {
	font-size: 32px;
	line-height: 1.45; /* 35/24 */
	text-transform: uppercase;
	text-align: center;
	margin: 30px auto;
}
.table__body {
	display: flex;
	justify-content: center;
	font-size: 24px;

}
.table__colname {
    font-size:26px;
    padding:10px;
}
.table__row:hover {
    background: #fff;
}

.table__column {
    padding: 0px 15px;
}
.footer {
	font-family: 'Finger Paint';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	color: #B3BBC2;
}

.footer__text {
	text-align: center;
}

/*ipppppppppppp*/
.page__getLocation{
    margin-top:50px;
    display:flex;
    flex-direction:column;
    align-items: center;
}
.getlocation__form{
    display:flex;
    align-items: center;
    gap: 20px;
}

.getlocation__data{

    position:relative;
}
.info{
}
.info__ip{
    background: #FFFFFF;
    border-radius: 16px 16px 0px 0px;
    max-width: 146px;
    height: 41px;
    text-align:center;
    padding: 10px 10px 0px 10px;
}

.info__items{
    background: #fff;
    max-width:  840px;
    display:flex;
    gap: 20px;
    padding: 20px 20px 30px 10px;
    border-radius: 0px 15px 15px 15px;
}

.item-info{
    display: flex;
    flex-direction: column;
    gap:15px;
    text-align:center;
}
.item-info__name {
    background: #BDC5CC;
    border-radius: 4px;
}

.item-info__value{
    display:flex;
    flex-direction:column;
}
.getlocation__map a{
    position:absolute;
    top:30%;
    right: -100px;
    max-width: 80px;
    max-height:55px;
}

/*----------------------------------------------------*/
.page__getAudio{}
.getAudio{
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    gap:30px;
    align-items:center;
    justify-items:center;
}
.getAudio__form{
    display:flex;
    align-items:center;
    gap: 20px;
}
.form-getAudio{}
.form-getAudio__input{
    width:500px;
    font-size: 16px;
}
.form-getAudio__button{}
.form-getAudio__button{
    font-size: 18px;
}

.file{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.download-file__link{
    text-decoration: underline;
    color: #53616D;
}